{% extends 'vetweb/base.html' %}
{% load static %}

{% block content %}
<div class="hero-slider register-page">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'vetweb/img/reg_.jpg' %}" class="d-block w-100" alt="Reset Password">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <div class="form-register">
                                <h2>Restablecer Contraseña</h2>
                                <p>Ingresa tu correo electrónico y te enviaremos las instrucciones.</p>
                                
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <input type="email" class="form-control" name="email" placeholder="Correo electrónico" required>
                                    </div>
                                    {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    <button type="submit" class="contact-button">Enviar Instrucciones</button>
                                    <div class="text-center mt-3">
                                        <a href="{% url 'vetweb:login' %}" class="login-link">Volver al inicio de sesión</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
