{# password_reset_done.html #}
{% extends 'vetweb/base.html' %}
{% load static %}

{% block content %}
<div class="hero-slider register-page">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'vetweb/img/reg_.jpg' %}" class="d-block w-100" alt="Reset Sent">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <div class="form-register">
                                <h2>Correo Enviado</h2>
                                <p>Te hemos enviado las instrucciones para restablecer tu contraseña. Por favor, revisa tu correo electrónico.</p>
                                <div class="text-center mt-3">
                                    <a href="{% url 'vetweb:login' %}" class="contact-button">Volver al inicio de sesión</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}